@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body{
    background-color: black;
    padding: 10px 0px 10px 0px;
    color: #A8A8A8;
}

.navbar, .card{
    background: #1111111e;
    backdrop-filter: blur(30px);
    
}
.nav-item:hover, a.active, a.btn:hover{
    background: #70621C66;
    border-radius: 50px;
    transition: 1s ease-in-out;
}

#wrapper{
    background-image: url(../pics/bg.png);
    /* height: 100vh; */
    max-width: 1316px;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    border: #535358 solid 2px;
    border-radius: 10px;
}
#main{
    background-color: #1a1a1acd;
    /* height: 100vh; */
    max-width: 1316px;
    backdrop-filter: blur(30px);
    border-radius: 10px;
}
.navbar, .sec-title, .card-title, a{
    font-family: 'Cinzel Decorative';
}
